{% extends 'base.html.twig' %}

{% block body %}
<h1>Agent Information</h1>
    Agent symbol: {{ agentData.symbol }} <br/>
    Faction: {{ agentData.startingFaction }} <br/>
    Headquaters: {{ agentData.headquarters }} <br/>
    Number ships: {{ agentData.shipCount }} <br>
    Credits: {{ agentData.credits }} <br/>
{% endblock %}
